<!DOCTYPE html>
<html>
<head lang="en">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../style.css">
    <script type="text/javascript" src="../bower_components/angular/angular.min.js" ></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.1/angular.min.js"></script> -->
    <script type="text/javascript" src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="../javascripts/angularfile1.js"></script>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <h1>Super Class Super Angular Super Fun!</h1>

    <div class="listContainer" ng-app="cougarApp"  >
        <div class="column">
            <div class="col-md-4" ng-controller="CougarController">
                <div class="morris">
                    <h1>WordLists</h1>
                    <hr/>
                    <ol class="unstyled">
                        <li ng-repeat="todo in cougarItems">
                            <span>{{todo.text}}</span>
                        </li>
                    </ol>
                    <hr/>
                    <form ng-submit="addCougar()">
                        <input type="text" ng-model="todoText" size="40" placeholder="add new todo title!">
                        <input class="btn-primary" type="submit" value="add">
                    </form>
                    <form ng-submit="removeCougar()">
                        <input type="number" ng-model="todoIndex"  size="30"
                               placeholder="remove an index">
                        <input class="btn-primary" type="submit" value="remove">
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-4" >
            <div class="morris">
                    <h2>Todo</h2>
                    <div ng-controller="TodoController">
                        <span>{{remaining()}} of {{todos.length}} remaining</span>
                        [ <a href="" ng-click="archive()">archive</a> ]
                        <ul class="unstyled">
                            <li ng-repeat="todo in todos">
                                <input type="checkbox" ng-model="todo.done">
                                <span class="done-{{todo.done}}">{{todo.text}}</span>
                            </li>
                        </ul>
                        <form ng-submit="addTodo()">
                            <input type="text" ng-model="todoText"  size="30"
                                   placeholder="add new todo here">
                            <input class="btn-primary" type="submit" value="add">
                        </form>
                    </div>
                </div>
            </div>

        <div class="col-md-4" >
            <div class="morris">
            <h3>Daily Schedule</h3>
                <div ng-app>
                    <div class="accordion__container" ng-controller="myAccordionController">
                        <div class="accordion__tab">
                            <div class="accordion__tab-title" ng-click="openTab('tab one')">The First Thing</div>
                            <div class="accordion__tab-content" ng-show="isOpenTab('tab one')">Fixed accordion!</div>
                        </div>
                        <!-- .accordion__tab -->
                        <div class="accordion__tab">
                            <div class="accordion__tab-title" ng-click="openTab('tab two')">Next Thingy</div>
                            <div class="accordion__tab-content" ng-show="isOpenTab('tab two')">Classes n' Stuff</div>
                        </div>
                        <!-- .accordion__tab -->
                        <div class="accordion__tab">
                            <div class="accordion__tab-title" ng-click="openTab('tab three')">Now What...</div>
                            <div class="accordion__tab-content" ng-show="isOpenTab('tab three')">Food and Fun!</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>